<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Engine</title>
  <script defer src="/js/scripts.js" type="application/json"></script> 
  <!-- suppress MIME error:  https://stackoverflow.com/questions/40574159/refused-to-execute-script-strict-mime-type-checking-is-enabled -->
</head>
<body>
  <h1>Search Engine</h1>
  <form action="/search?" method="get">
    <input type="text" id="searchInput" placeholder="Enter search term">
    <button onclick="search()" type="submit" value="submit">Search</button>
  </form>
  <div>
    <p>This page will not work without the URI - reach out to the administrator for assistance.</p>
  </div>
  <!-- may need to add script at the bottom manually -->
</body>
</html>
